

body {
	
	background: #000000;
	text-align: center;
	font-family: Verdana;
	color: white;
}

h1 {

	font-weight: Normal;
	font-size: 50px;
	
}

h2 {
	
	font-weight: 300;
	font-size: 42px;
}

h3 {
	font-weight: normal;
	font-size: 21px;
	color: gray;
}


.footer{
	
	text-align: right;
		
}



.cta {
	
	font-size: 16px;
	color: Aquamarine;
}

